.block {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-lg);
  border-radius: var(--border-radius-md);
  color: var(--main-text-color);
  background: var(--surface-background-color);
}

.block__label {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.block__name {
  margin: 0;
}

.block__children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-md);
  height: 100%;
  white-space: break-spaces;
}