
.editor {
    position: fixed;
    display: none;
    flex-direction: column;
    gap: var(--space-md);
    top: var(--space-sm);
    left: var(--space-sm);
    opacity: 0;
    scale: 0.7;
    transform-origin: top left;
    transition-property: opacity, scale;
    transition-duration: 0.2s;
    transition-delay: 3s;
}

.editor:hover {
    opacity: 1;
    scale: 1;
    transition-delay: 0s;
}

.color-picker {
    --_background-color: hsl(0, 0%, 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: var(--border-radius-md);
    background: var(--_background-color);
    box-shadow: 0 0 4px black;
    color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT';
}

.color-picker>input {
    border: none;
    background: var(--_background-color);

    &::-webkit-color-swatch {
        border-radius: var(--border-radius-md);
        border: none;
    }

    &::-webkit-color-swatch-wrapper {
        background: var(--_background-color);
    }
}

.color-picker>label {
    padding-inline: var(--space-sm);
    opacity: 0.7;
    text-transform: capitalize;
    font-style: italic;
}

@media not print {
    .editor {
        display: flex;
    }
}