.tags {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-sm);
}

.tags__tag {
  padding-block: 1.2pt;
  padding-inline: 2.4pt;
  min-width: 20px;
  border-radius: var(--border-radius-md);
  background: var(--primary-color);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--inverse-text-color);
}