.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  width: 30%;
  height: 100%;
  padding: var(--space-lg);
  background: linear-gradient(var(--primary-color) 10%, var(--secondary-color));
  color: var(--inverse-text-color);
}

.aside__me {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.aside__avatar {
  width: 100%;
  aspect-ratio: 1;
  padding: 4px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 4px var(--border-color);
}

.aside__name {
  margin: 0;
  text-align: center;
}

.aside__about-me {
  margin: 0;
  opacity: 0.7;
  font-style: italic;
}

.aside__contact {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.aside__skills {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}