.second-page__header {
    flex-grow: 1;
    height: 200px;
    padding: 20px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    color: white;
}

.second-page__body {
    padding: 20px;
}

.second-page__stickman {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--primary-color);
    background: url(../../assets/images/stickman.png);
    background-size: 90px;
    background-position: 80% 0%;
    background-repeat: no-repeat;
}