.second-page__header {
    display: grid;
    place-items: center left;
    height: 100%;
    padding: var(--space-lg);
    background: url(../../assets/images/stickman.svg), 
        linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    background-size: 90px, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 15cm 20px, 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    color: var(--inverse-text-color);

    & h1 {
        margin: 0;
    }

    & span {
        display: block;
        margin-top: var(--space-md);
        opacity: 0.7;
        font-size: var(--font-size-md);
        font-style: italic;
        font-weight: normal;
    }
}

.second-page__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding: var(--space-lg);
}