.main {
  display: flex;
  flex-direction: column;
}

.main__header {
    height: 100%;
    padding: var(--space-lg);
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    color: var(--inverse-text-color);
}

.main__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding: var(--space-lg);
    color: var(--main-text-color);
}