.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.section__label {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin: 0;
  color: var(--main-text-color);
  font-size: var(--font-size-md);
  text-transform: uppercase;
  text-wrap: nowrap;
}

.section__line {
  width: 100%;
  height: 2px;
  background: var(--misc-color);
}

.section__children {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
}