.progress-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.progress-bar__container {
    width: 60%;
    height: 8px;
    overflow: hidden;
    border-radius: 0.5rem;
    background: gray;
}

.progress-bar__progress {
    height: 100%;
    background: var(--primary-color);
}