.progress-bar {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

.progress-bar__container {
    width: 60%;
    height: 0.5rem;
    overflow: hidden;
    border-radius: var(--border-radius-md);
    background: var(--misc-color);
}

.progress-bar__progress {
    height: 100%;
}