*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: fit-content;
  min-height: 100vh;
  margin: 0;
}

#root {
  --primary-color: hsl(280, 30%, 30%);
  --secondary-color: hsl(240, 30%, 30%);
  --border-color: hsl(280, 30%, 50%);

  --primary-color: hsl(180, 100%, 22%);
  --secondary-color: hsl(190, 100%, 12%);
  --border-color: hsl(159, 64%, 43%);

  --primary-color: hsl(240, 50%, 30%);
  --secondary-color: hsl(250, 50%, 20%);
  --border-color: hsl(220, 50%, 50%);

  --primary-color: hsl(230, 80%, 30%);
  --secondary-color: hsl(220, 50%, 50%);
  --border-color: hsl(230, 50%, 70%);

  --primary-color: hsl(220, 50%, 30%);
  --secondary-color: hsl(230, 50%, 20%);
  --border-color: hsl(200, 50%, 50%);

  --main-background-color: hsl(0, 0%, 100%);
  --surface-background-color: hsl(0, 0%, 95%);
  --main-text-color: hsl(0, 0%, 0%);
  --inverse-text-color: hsl(0, 0%, 100%);
  --misc-color: hsl(0, 0%, 50%);

  --font-size-sm: 9.6pt;
  --font-size-md: 12pt;

  --border-radius-md: 2.4pt;

  --space-sm: 3.75pt;
  --space-md: 7.5pt;
  --space-lg: 15pt;

  display: grid;
  place-items: center;
  background: hsl(0, 0%, 0%);
}

@media print {
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

@page {
  size: A4;
}